body{
    overflow-x: hidden;
}

/* 

.head-kiddy{
    
   font-size: 32px;
   font-weight: 300;
   font-family: 'Baloo Bhai 2',cursive;
   color: rgb(81, 5, 5);
}
.head-dresses{
    
    font-size: 10px;
    letter-spacing: 2.5px;
} */

/* .head-subcontent{
    position: fixed;
    display: flex;
    gap: 40px;
    top: 110px;
    right: 40%;
    font-size: 17px;
    font-weight: 500;
    
    
    
    
} */
.head-line{
   position: fixed;
   
} 

/* .head-icons{
   

} */
.head-kiddy{
    color: rgb(81, 5, 5); 
    font-weight: 600;
    font-size: 32px;
   font-weight: 300;
   font-family: 'Baloo Bhai 2',cursive;
}
.head-dresses{
    
    font-size: 10px;
    letter-spacing: 2.5px;
    position: relative;
    bottom: 20px;
    left: 2px;
    font-weight: 500;
} 
.border-top{
    position: relative;
    top:10px ;
}
.Header-Category{
    position: relative;
    bottom: 20px;
}